<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitiny</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Twitiny</h1>

        <form class="ui form" action="/homepage" method="post">
            <div class="field">
                <label>User</label>
                <input type="text" name="username" placeholder="Enter username"><br>
                <input type="password" name="password" placeholder="Enter password"><br>
            </div>
            <button class="ui blue button" type="Login">Login</button>
        </form>

        <hr>
        <a class="ui green button" href="/register" style="margin-top: 10px;">New User? Register Here</a>
    </div>
    
</body>

</html>